<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body ng-app="companyData">
    
    <div ng-controller="EmployeeDataCtrl as emp">
       <h2>Fill the Emp Details: </h2>
        <div class="table-view">
            <div class="table-row">
                <div class="table-column label"> Enter Employee Id : </div>
                <div class="table-column input">
                    <input ng-model="emp.empData.eid" type="text">
                </div>
            </div>
            <div class="table-row">
                <div class="table-column label">Enter Employee Name : </div>
                <div class="table-column input">
                    <input ng-model="emp.empData.ename" type="text">
                </div>
            </div>
            <div class="table-row">
                <div class="table-column label">Enter Employee Salary : </div>
                <div class="table-column input">
                    <input ng-model="emp.empData.salary" type="text">
                </div>
            </div>
            <div class="table-row">
                <div class="table-column label">Enter Employee Age : </div> 
                <div class="table-column input">
                    <input ng-model="emp.empData.age" type="text">
                </div>
            </div>
            <div class="table-row">
                <div class="table-column label">
                    <input type="button" ng-click="emp.add(event)" value="Add"/> </div>
                <div class="table-column input">
                    <input type="hidden" ng-model="emp.update_index"/>
                    <input type="button" ng-click="emp.save(emp.update_index)" value="Save"/>
                </div>
            </div>
        </div>

        <h2> EmpDetails View : </h2>
        <div class="table-view details-view">
            <div class="table-row table-header">
                <div class="table-column label">Index</div>
                <div class="table-column label">Id</div>
                <div class="table-column label">Name</div>
                <div class="table-column label">Salary</div>
                <div class="table-column label">Age</div>
<!--                <div class="table-column label"><input type="button" value="Update"/></div>
                <div class="table-column label"><input type="button" value="Delete"/></div>-->
            </div>
            
            <div ng-repeat="e in emp.empDetails" class="table-row">
                <div class="table-column">{{$index}} </div>
                <div class="table-column">{{e.eid}} </div>
                <div class="table-column">{{e.ename}} </div>
                <div class="table-column">{{e.salary}} </div>
                <div class="table-column">{{e.age}} </div>
                <div class="table-column"> <input type="button" ng-click="emp.update($index)" value="Update" row-index="{{$index}}"/> </div>
                <div class="table-column"> <input type="button" ng-click="emp.delete($inedx)" value="Delete" row-index="{{$index}}"/> </div>     
            </div>
        </div>
    </div>
   
    <script src="js/vendors/angular.min.js"></script>
    <!--<script src="js/vendors/angular-ui-router.js"></script>-->
    <script src="js/companyData.js" type="text/javascript"></script>
    <script src="js/factories/EmpObjDetails.js" type="text/javascript"></script>
    <script src="js/factories/empFieldDetails.js" type="text/javascript"></script>
    
</body>
</html>